<% sighting_container = condensed_list %>

<h2><%= sighting_container.trips.size %> Trips over <%= sighting_container.trips.map_by_year.keys.size %> Years</h2>

<% for year in sighting_container.trips.map_by_year.keys.sort.reverse %>
      <div class="pagecontentitem"><%= year %></div>
<% end %>
