<% trip_list = undivided_list %>

<div class="pagecontentmodule">
	<div class="moduletitle"><%= trip_list.size %> Trips</div>
	<%= render :partial => 'trips/onelinelink' , :collection => trip_list %>
</div>