<% trip_list = undivided_list %>

<div class="pagecontentmodule">
	<% if (show_headings) %>
		<h4><%= trip_list.size %> Trip<%= trip_list.size > 1? 's' : '' %></h4>
	<% end %>
	
	<%= render :partial => 'trips/onelinelink' , :collection => trip_list, :locals => { :date_format => "%d %b %Y" } %>
</div>