<div class="lead">Trip Reports</div>

<% trip_lists = @trips/(@trips.size / 3 + 3) %>

<div class='row'>
	<% for trip_list in trip_lists do %>
		<div class='col-md-4'>
			<%= show_trip_list(trip_list, false) %>
		</div>
	<% end %>
</div>           
