<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
		<div class="pageheaderitem"><%= link_to 'New', :action => 'new' %></div>
	</div>

	<div id="pagecontent">
		<% sighting_year_range.to_a.reverse.each do | year |%>
			<h2><%= year %></h2>
			<%= render :partial => 'trips/onelinelink' , :collection => @trips_by_year[year] %>
		<% end %>
	</div>
</div>