<div class="lead"><%= @page_title %></div>		

<div class="pagecontentmodule">
	<div class="pagecontentitem">
		<%= form_tag :action => 'create' do %>
  			<%= render :partial => 'form' %>
  			<%= submit_tag "Create" %>
		<% end %>
	</div>
</div>
