<% total_taxon_list = multi_column_list %>

<% total_taxon_count = multi_column_list.length %>


<div class='row'>
	<div class='col-md-12'>
		<h4><%= total_taxon_list.length %> Species</h4>

		<div class='seamless-text'>
			<% if total_taxon_count > 70 %>
			<%= render :partial => 'taxons/divided_list', :object => total_taxon_list, :locals => { :show_headings => false } %>
			<% else %>
			<%= render :partial => 'taxons/undivided_list', :object => total_taxon_list, :locals => { :show_headings => false } %>
			<% end %>
		</div>
	</div>
</div>
