<% taxon_list = undivided_list %>

<div class="pagecontentmodule">
	<% if (show_headings) %>
		<h4><%= taxon_list.size %> Species</h4>
	<% end %>
	
	<%= render :partial => 'taxons/onelinelink' , :collection => taxon_list %>
</div>