<h3><%= @page_title %></h3>

<% taxon_lists = @all_taxons_photographed/(@all_taxons_photographed.size / 3 + 3)%>

<h4><%= @all_taxons_photographed.size %> ABA Species Photographed</h4>

<div class='row'>
	<% for taxon_list in taxon_lists do %>
		<div class='col-md-4'>
			<%= show_taxon_list(taxon_list, false) %>
		</div>
	<% end %>
</div>
