<% sighting = onelinelink %>

<div class="pagecontentitem">
	<%= link_to safe_species_common_name(sighting), species_instance_url(sighting.species_id) %>

	<% if (sighting.heard_only) then %>
		(h)
	<% end %>
	
	<% if @show_location_abbreviation %>
		<span class="location-abbreviation"><%= sighting.location.abbreviation %></span>
	<% end %>

	<% if (sighting.notes && sighting.notes.length > 1) then %>
		<div class="notes"><%= sighting.notes %></div>
	<% end%>
</div>
