<% sighting_list = thumbnail_list %>

<div class="pagecontentmodule">
	<div class="moduletitle">Photos</div>
	<div class="pagecontentitem">
		<%= render :partial => 'sightings/thumbnail', :collection => sighting_list %>
	</div>
</div>
