<% sighting_list = undivided_list %>

<div class="pagecontentmodule">
	<div class="modulesubtitle"><%= @module_title %>, <%= sighting_list.size %> Sightings</div>
	<%= render :partial => 'sightings/onelinelink' , :collection => sighting_list %>
</div>