<% sighting_list = undivided_list %>     

<% common_names = sighting_list.collect {|item|item.species.common_name}.uniq %>

<div class="pagecontentmodule">
	<div class="moduletitle">
		<%= common_names.size %> Species<% if (@module_title != nil && @module_title != "") then %> at <%= @module_title %><% end %>
	</div>
	<%= render :partial => 'sightings/onelinelink' , :collection => sighting_list %>
</div>