<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
		<div class="pageheaderitem"><%= link_to 'Show', trip_url(@sighting.trip_id) %></div>
	</div>
	
	<div id="pagecontent">
		<% form_for :sighting, @sighting, :url => sighting_path(@sighting), :html => { :method => 'put' } do |form|%>
		  <%= render :partial => 'form' %>
		  <%= submit_tag 'Edit' %>
		<% end %>
	</div>
</div>