<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
	</div>
	
	<div id="pagecontent">
		<% form_tag :action => 'create' do %>
		  <%= render :partial => 'species_only_form' %>
		  <%= submit_tag "Create" %>
		<% end %>
	</div>
</div>