<div class="lead"><%= @page_title %></div>

TODO: can't edit species or trip ID here!

<%= form_for @sighting, :html => { :class => 'form-horizontal' }  do |form| %>
	<%= render :partial => 'form' %>
	<%= submit_tag 'Save' %>
<% end %>