log/development.log
log/test.log
*~
doc/app/
doc/guides/
public/images/photo/
public/images/thumb/
log/production.log

config/environment.rb
config/database.yml
upload-db.sh
importFromFlickrUp.rb
birdwalker_dump.sql
upload.sh
upload-photo.sh
dump-remote-db.sh

*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/tmp/*
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
