<div class="pagecontentitem">
	<% if @state.find_all_locations.size > 0 %>
		<%= link_to @state.name, :controller => 'state', :action => 'show', :id => @state.id %>
	<% else %>
		<%= @state.name %>
	<% end %>
</div>
