<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
	</div>
	
	<div id="pagecontent">
		<% @states.each do | state | %>
			<div class="pagecontentitem">
				<%= link_to state.name, :controller => 'state', :action => 'show', :id => state.id %>
			</div>
		<% end %>
	</div>
</div>