<h4><%= location.name %></h4>
<p><a href="#" data-pagekind='county' data-objectid='<%= location.county.id %>'><%= location.county.name %> County</a></p>

<div id='locationPhoto'></div>

<div><%= location.notes %></div>

<% if (location.latitude != 0) { %>
	<img src='https://maps.googleapis.com/maps/api/staticmap?zoom=10&size=400x400&sensor=false&center=<%= location.latitude %>,<%= location.longitude %>' />
<% } %>

<h4>Species</h4>

<ul id='speciesList' class='nav navlist'>
    <% _.each(location.species, function(species) { %>
        <li><a href='#' data-pagekind='species' data-objectid='<%= species.id %>'><%= species.common_name %></a></li>
    <% }) %>
</ul>