<div class='row'>
	<div class="span12">

		<% var tmp = Math.round(1000 * Math.random()); %>

	    <div id="myCarousel<%= tmp %>" class="carousel slide">
		    <!-- Carousel items -->
		    <div class="carousel-inner">

					<% _.each(photos, function(a_photo, index) { %>
						<div class="<%= index == 0 ? 'active' : '' %> item" style="background-color: gray">
							<center><img src='/images/photo/<%= a_photo.image_filename %>' /></center>

			                <div class="carousel-caption">
			                	<% var tmpDate = new Date(a_photo.trip.date); %>
			                	<center><p><%= a_photo.species.common_name %>, <%= a_photo.location.name %>, <%= tmpDate.toString("MMM d, yyyy") %></p></center>
			                </div>
						</div>
					<% }); %>

		    </div>
		    <!-- Carousel nav -->
		    <a class="carousel-control left" href="#myCarousel<%= tmp %>" data-slide="prev">&lsaquo;</a>
		    <a class="carousel-control right" href="#myCarousel<%= tmp %>" data-slide="next">&rsaquo;</a>
	    </div>

	</div>
</div>
