<div class="pageheaderitem">
	<%= link_to 'by species', species_url %> |
	<%= link_to 'by date', :controller => 'species', :action => 'life_list'%> |
	<%= link_to 'photos', :controller => 'species', :action => 'photo_life_list'%>
</div>
