<% total_species_list = multi_column_list %>

<% total_species_count = multi_column_list.length %>

<% species_lists = total_species_list/((total_species_list.length / 3.0).ceil) %>

<div class="moduletitle">
	<%= total_species_list.length %> Species
</div>    

<div class='row'>
	<% for species_list in species_lists do %>
		<div class='span4'>
			<% if total_species_count > 70 %>
			<%= render :partial => 'species/divided_list', :object => species_list, :locals => { :show_headings => false } %>
			<% else %>
			<%= render :partial => 'species/undivided_list', :object => species_list, :locals => { :show_headings => false } %>
			<% end %>
		</div>
	<% end %>
</div>
