<% sighting_container = undivided_list %>

<div class="pagecontentmodule">
	<div class="modulesubtitle"><%= sighting_container.species.size %> Species</div>
	<%= render :partial => 'species/onelinelink' , :collection => sighting_container.species %>
</div>