<% species_list = undivided_list %>

<div class="pagecontentmodule">
	<div class="modulesubtitle"><%= species_list.size %> Species</div>
	<%= render :partial => 'species/onelinelink' , :collection => species_list %>
</div>