<%= render :partial => 'page_header', :object => @species %>

<div class="pagecontentmodule">
	<div class='pagecontentitem'>
		<%= form_for @species, :url => species_path(@species), :html => { :class => 'form-horizontal' } do |form| %>
			<%= render :partial => 'form' %>
			<%= submit_tag 'Save' %>
		<% end %>
	</div>
</div>
