<% @page_title = "Our Life List" %>

<div id="pagebody">
	<div id="pageheader-species">
		<div id="pagetitle"><%= @page_title %></div>
		<%= render :partial => 'list_page_header' %>
	</div>
 	
	<div id="pagecontent">
		<% @module_title = 'Life Birds' %>
		<%= show_chronological_sighting_list(@life_sightings) %>
	</div>
</div>