<% @page_title = "Species" %>

<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
	</div>
 	
	<div id="pagecontent">
		<% for family in @all_families_seen %>
			<%= render :partial => 'families/onelinelink', :object => family %>
			<%= render :partial => 'species/onelinelink', :collection => @all_species_seen_by_family[family] %>
		<% end %>
	</div>
</div>