<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
	</div>
	
	<div id="pagecontent">
		<% for @species in @allspecies %>
			<%= render_partial 'species/onelinelink', @species %>
		<% end %>			
	</div>
</div>