<div class="lead">
	<%= @page_title %>
</div>		

<% species_lists = @all_species_photographed/(@all_species_photographed.size / 3 + 3)%>

<div class="moduletitle"><%= @all_species_photographed.size %> ABA Species Photographed</div>

<div class='row'>
	<% for species_list in species_lists do %>
		<div class='col-md-4'>
			<%= show_species_list(species_list, false) %>
		</div>
	<% end %>
</div>
