<%= error_messages_for 'family' %>

<!--[form:family]-->
<p><label for="family_latin_name">Latin name</label><br/>
<%= text_area 'family', 'latin_name'  %></p>

<p><label for="family_common_name">Common name</label><br/>
<%= text_area 'family', 'common_name'  %></p>
<!--[eoform:family]-->

