<%= error_messages_for 'family' %>

<!--[form:family]-->

<div class="control-group">
	<label class="control-label" for="family_latin_name">Latin Name</label>
	<div class="controls">
		<%= text_field 'family', 'latin_name'  %>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="family_common_name">Common Name</label>
	<div class="controls">
		<%= text_field 'family', 'common_name'  %>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="family_taxonomic_sort_id">Taxonomic Sort ID</label>
	<div class="controls">
		<%= text_field 'family', 'taxonomic_sort_id'  %>
	</div>
</div>

<!--[eoform:family]-->

