<% family = onelinelink %>

<div class="modulesubtitle">
	<% link_title = "Family report, " + family.common_name %>
	<%= link_to family.common_name, family_url(family), :title => link_title %>
</div>
