<% family = phototablecell %>

<td width="25%">
	<div class="modulesubtitle">
		<%= link_to family.common_name, family_url(family) %>
	</div>

	<div class="pagecontentitem">
		<% if (family.sightings_with_photos.size > 0) %>
			<%= link_to family.sightings_with_photos.first.thumb, family_url(family) %>
		<% else %>
			<img src="images/blank.gif" border="1" width="100px" height="100px" />
		<% end %>
	</div>
</td>