<div class="pageheaderitem">
	<%= link_to 'normal view', :id => @family, :action => 'show' %> |
	<%= link_to 'by year view', :id => @family, :action => 'show_species_by_year' %> |
	<%= link_to 'by month view', :id => @family, :action => 'show_species_by_month' %>
</div>
