<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
	</div>
	
	<div id="pagecontent">
		<%= render :partial => 'families/photolink', :collection => @families %>
	</div>
</div>
