<div class="lead"><%= @page_title %></div>

<% notable_family_lists = @notable_families/(@notable_families.size / 3 + 1)%>

<div class='row'>
	<% for notable_family_list in notable_family_lists %>
		<div class='col-md-4'>
			<%= render :partial => 'families/summary', :collection => notable_family_list %>
		</div>
	<% end %>
</div>

<div class="pagecontentitem">
	Misc Families:
	<% for misc_family in @misc_families %>
		<%= link_to "%s (%d)" % [misc_family.common_name, misc_family.species_seen.size], misc_family %>, 
	<% end %>
</div>
