<% @page_title = 'Families' %>

<div id="pagebody">
	<div id="pageheader-species">
		<div id="pagetitle"><%= @page_title %></div>
	</div>
	
	<div id="pagecontent">
		<table width="100%">
			<% for row in @families/4 %>
				<tr>
					<%= render :partial => 'families/phototablecell', :collection => row %>
				</tr>
			<% end %>
		</table>
	</div>
</div>
