body
{
	font: 10pt Gill Sans, Sans-Serif;
}

a       { text-decoration: none; }
.pagecontentitem p a { text-decoration: underline; }
a:hover { color: red; text-decoration: none; }

.tablecell
{
	width: 30px; padding-right: 5px; text-align: center;
}

.coloredtablecell
{
	width: 30px; padding-right: 5px; background-color: #DDDDDD; text-align: center;
}           

.tabledivider
{
	border-top: solid 1px #BBBBBB;
}

.moduletitle
{
	border-bottom: solid 1px #CCCCCC;
	font-weight: normal; font-size: 14pt;
	margin-left: 10px; margin-top: 10px; margin-bottom: 10px
}

.modulesubtitle
{
	font-weight: normal; font-size: 12pt;
	margin-left: 12px; margin-top: 10px; margin-bottom: 10px
}

.modulesubtitle a { text-decoration: none; }


#browse
{
	position: fixed; bottom: 0px; left: 0px; width: 120px; height: 20px;
	z-index: 2;
	background-color: #EEEEEE;
	text-align: center;
}

#notice
{
	position: absolute;
	background-color: #AAFFAA;
	z-index: 3;
	left: 50%; top: 10px;
	padding: 5px;
	border: solid 1px green;
}

#errorExplanation
{
	position: absolute;
	background-color: #FFAAAA;
	z-index: 3;
	left: 50%; top: 10px;
	padding: 5px;
	border: solid 1px red;
}

#menu
{
	position: fixed; top: 0px; left: 0px; width: 120px;
	z-index: 2;
	background-color: white;
}

#menu .menuitem
{
	padding-left: 10px;
	padding-top: 5px; padding-bottom: 5px;
	background-color: #888888;
	color: white;
	border-bottom: solid 1px white;
}

#menu .homemenuitem
{
	padding-left: 10px;
	padding-top: 5px; padding-bottom: 5px;
	background-color: #666666;
	color: white;
	border-bottom: solid 1px white;
}

#menu .tripmenuitem
{
	padding-left: 10px;
	padding-top: 5px; padding-bottom: 5px;
	background-color: #0000DD;
	color: white;
	border-bottom: solid 1px white;
}

#menu .locationmenuitem
{
	padding-left: 10px;
	padding-top: 5px; padding-bottom: 5px;
	background-color: #00DD00;
	color: white;
	border-bottom: solid 1px white;
}

#menu .speciesmenuitem
{
	padding-left: 10px;
	padding-top: 5px; padding-bottom: 5px;
	background-color: #DD0000;
	color: white;
	border-bottom: solid 1px white;
}

#menu a
{
	color: white;
	text-decoration: none;
}

#pagetitle
{
	font: 20pt Gill Sans, Sans-Serif;
	padding-left: 10px;
	padding-bottom: 5px;
}

#pageheader
{
	padding-top: 10px;
	padding-bottom: 5px;
	background-color: #EEEEEE;
/*	border-left: solid 3px #CCCCCC; */
}

#pageheader-species
{
	padding-top: 10px;
	padding-bottom: 5px;
	background-image: url(/images/species-banner.jpg);
	background-position: 50%;
/*	border-left: solid 3px #CCCCCC; */
}

#pageheader-location
{
	padding-top: 10px;
	padding-bottom: 5px;
	background-image: url(/images/location-banner.jpg);
	background-position: 50%;
/*	border-left: solid 3px #CCCCCC; */
}

#pageheader-trip
{
	padding-top: 10px;
	padding-bottom: 5px;
	background-image: url(/images/trip-banner.jpg);
	background-position: 50%;
/* 	border-left: solid 3px #CCCCCC; */
}

#pageheader-home1
{
	height: 70px;
	padding-top: 10px;
	padding-bottom: 5px;
	background-image: url(/images/banner1.jpg);
	background-position: 60%;
/*	border-left: solid 3px #CCCCCC; */
}

.pageheaderitem
{
	margin-left: 15px; margin-right: 15px; margin-bottom: 5px;
}

#photos
{
	position: absolute; top: 200px; left: 0px; width: 120px;
	text-align: center;
}

#photos .photo
{
	padding-bottom: 5px; text-align: center;
}

.pagecontentmodule .photo
{
	text-align: center; display: inline;
}


#pagebody
{
	position: absolute; top: 0px; left: 130px; width: 80%;	
	padding-bottom: 50px;
}

#pagecontent
{
	background-color: white;
}

#pagecontent .pagecontentmodule
{
	/* border-left: solid 3px #CCCCCC; */
	/* border-top: solid 1px #CCCCCC; */
	margin-top: 10px;
	margin-bottom: 15px;
	margin-right: 10px;
}

#pagecontent .pagecontentitem
{
	margin-left: 30px; margin-bottom: 1px;
}

#pagecontent .pagecontentitem .notes
{
	margin-left: 10px; margin-bottom: 3px; margin-top: 2px; margin-right: 10px;
}
