<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html ng-app>
	<head>
		<script src="http://code.angularjs.org/1.0.2/angular.min.js"></script>
		<script src="./brangular-test.js"></script>
	    <script src="https://rawgithub.com/mozilla/app-components/master/dist/brick.js"></script>

		<link rel="stylesheet" rel="stylesheet" type="text/css" href="https://rawgithub.com/mozilla/app-components/master/dist/brick.css" ></link>
		<link rel="stylesheet" rel="stylesheet" type="text/css" href="https://rawgithub.com/mozilla/app-components/master/demos/basic/style.css" ></link>
		<link rel="stylesheet" rel="stylesheet" type="text/css" href="./brangular-test.css" ></link>
		<link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon" />

		<title>BirdWalker angular.js test</title>
	 </head>

	<body>
	    <x-layout id="app">
			<x-appbar>
				<header>
					<x-iconbutton class="back">Back</x-iconbutton>
					BirdWalker
				</header>
			</x-appbar>

			<section>
		        <x-deck ng-controller="DeckCtrl">
					<x-card id="trips">
						<div>
							Trip Search: <input style='width: 100%; display: block; box-sizing: border-box' ng-model="query">
						</div>

						<div ng-controller="TripListCtrl">
							<ul>
								<li ng-repeat="trip in trips | filter:query | orderBy: date | limitTo: 50">
									<a ng-click="showTripDetail()">
										<span ng-repeat="photo in trip.photos | limitTo: 1">
											<img src="{{photo.thumb_URL}}" width='32' height='32' />
										</span>
										{{trip.name}}
										<span style='float: right'>&gt;</span>
									</a>
								</li>
							</ul>
						</div>		
					</x-card>

					<x-card id="tripdetail">
						<div ng-controller="TripListCtrl">
							<div>{{detailTrip.name}}, {{detailTrip.date}}</div>
							<div>{{detailTrip.notes}}</div>	
								<div ng-repeat="taxon in detailTrip.taxons">
									{{taxon.common_name}}
								</div>
						</div>
					</x-card>

					<x-card id="locations">
						<div>
							Location Search: <input style='width: 100%; display: block; box-sizing: border-box' ng-model="query" ng-model="query">
						</div>

						<div ng-controller="LocationListCtrl">
							<ul>
								<li ng-repeat="location in locations | filter:query">
									<a ng-click="showLocationDetail()">{{location.name}}<span style='float: right'>&gt;</span></a>
								</li>
							</ul>
						</div>		
					</x-card>

					<x-card id="taxons">
						<div>
							Species Search: <input style='width: 100%; display: block; box-sizing: border-box' ng-model="query" ng-model="query">
						</div>

						<div ng-controller="TaxonListCtrl">
							<ul>
								<li ng-repeat="taxon in taxons | filter:query">
									<a ng-click="showTaxonDetail()">{{taxon.common_name}}<span style='float: right'>&gt;</span></a>
								</li>
							</ul>
						</div>		
					</x-card>

				</x-deck>
			</section>

			<footer>
				<x-tabbar>
					<x-tabbar-tab target-selector="#trips" data-active>Trips</x-tabbar-tab>
					<x-tabbar-tab target-selector="#locations">Locations</x-tabbar-tab>
					<x-tabbar-tab target-selector="#taxons">Species</x-tabbar-tab>
				</x-tabbar>
			</footer>			
		</x-layout>
	</body>
</html>