<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
	</div>
	
	<div id="pagecontent">
		<% for @state in @states %>
			<%= render_partial 'states/onelinelink' %>
		<% end %>
	</div>
</div>