<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
	</div>
	
	<div id="pagecontent">
		<%= render :partial => 'states/onelinelink', :collection => @states %>
	</div>
</div>