<div class="lead"><%= @page_title %></div>
                      
<% state_lists = @states/(@states.size / 4 + 2)%>

<%= render :partial => 'states/imagemap' %>

<div class='row'>
	<% for state_list in state_lists do %>
		<div class='span3'>
			<%= render :partial => 'states/onelinelink', :collection => state_list %>
		</div>
	<% end %>
</div>
