<% @page_title = "States" %>

<div id="pagebody">
	<div id="pageheader-location">
		<div id="pagetitle"><%= @page_title %></div>
	</div>
	                          
   	<% state_lists = @states/(@states.size / 3 + 3)%>

	<div id="pagecontent">
		<table width="100%">
			<tr>
				<% for state_list in state_lists do %>
				<td valign="top">
					<%= render :partial => 'states/onelinelink', :collection => state_list %>
				</td>
				<% end %>
			</tr>
		</table>
	</div>
</div>