<% county_list = divided_list %>

<% counties_by_state = County.map_by_state(county_list) %>

<% ordered_states = State.sort_alphabetic(counties_by_state.keys) %>

<div class="pagecontentmodule">
	<% if (show_headings) %>
		<h4>
			<%= county_list.size %> Locations in <%= counties_by_state.size %> States
		</h4>
	<% end %>

	<% for state in ordered_states %>
		<h5><%= state.name %></h5>
		<%= render :partial => 'counties/onelinelink' , :collection => counties_by_state[state], :locals => { :show_extras => show_extras } %>
	<% end %>
</div>