<%= error_messages_for 'county' %>

<!--[form:county]-->
<p><label for="county_name">Name</label><br/>
<%= text_field 'county', 'name'  %></p>

<p><label for="county_state">State</label><br/>
<%= collection_select("county", "state_id", State.find(:all, :order => 'name'), :id, :name, {:prompt => true}) %></p>

<!--[eoform:county]-->

