<%= error_messages_for 'county' %>

<!--[form:county]-->

<div class="control-group">
	<label class="control-label" for="county_name">Name</label>
	<div class="controls">
		<%= text_field 'county', 'name'  %>
	</div>
</div>

<div class="control-group">
	<label class="control-label" for="county_state">State</label>
	<div class="controls">
		<%= collection_select("county", "state_id", State.find(:all, :order => 'name'), :id, :name, {:prompt => true}) %>
	</div>
</div>

<!--[eoform:county]-->

