<% county_list = undivided_list %>

<div class="pagecontentmodule">
	<% if (show_headings) %>
		<h4><%= county_list.size %> Count<%= county_list.size > 1? 'ies' : 'y' %></h4>
	<% end %>
	
	<%= render :partial => 'counties/onelinelink' , :collection => county_list, :locals => { :show_extras => true } %>
</div>