<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %> in <%= link_to @county.state.name, state_url(@county.state) %></div>
	</div>

	<div id="pagecontent">
		<div class="pagecontentmodule">
			<div class="moduletitle"><%= @county.species.size %> Species
			</div>
		</div>
		<%= render :partial => 'sightings/species_by_month_table', :object => @map, :locals => { :totals => @totals }%>
	</div>
</div>
