<div class="lead">
	<%= @page_title %> in <%= link_to @county.state.name, state_url(@county.state) %>
</div> 

<% has_photos?(@county) do %>
	<%= render :partial => 'photos/gallery', :object => @county.photos %>
<% end %>

<%= show_chronological_sighting_list(@life_sightings) %>