<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div id="pagetitle">

	</div>
	<div id="pagecontent">
		<% form_tag :action => 'update', :id => @trip do %>
  			<%= render :partial => 'form' %>
  			<%= submit_tag 'Edit' %>
		<% end %>

		<%= link_to 'Show', :action => 'show', :id => @trip %> |
		<%= link_to 'Back', :action => 'list' %>
	</div>
</div>