<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
	</div>
	
	<div id="pagecontent">
		<% @locations.each do | location | %>
			<div class="pagecontentitem"><%= link_to location.name, :action => 'show', :id => location.id %></a></div>
		<% end %>
	</div>
</div>