<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle"><%= @page_title %></div>
		<div class="pageheaderitem"><%= link_to 'New', :action => 'new' %></div>
	</div>
	
	<div id="pagecontent">
		<% for @state in @locations_by_state.keys %>
		    <h2><%= @state %></h2>
			<% for @location in @locations_by_state[@state] %>
			 <%= render_partial 'location/onelinelink', @location %>
			<% end %>
		<% end %>
	</div>
</div>