<% gallery_photos = gallery.sort{ |a,b| b.trip.date <=> a.trip.date} %>    
<% gallery_photos = gallery_photos.first(Photo.default_gallery_size())%>

<% if gallery_photos.length > 0 %>

	<div id="thumbnailcollection">
		<div class="pagecontentmodule">
			<div class="pagecontentitem" id="thumbnail_list" style="background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0.05) 100%); background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0.05) 100%);"> 
				<% gallery_photos.each { | a_photo | %>
					<% tooltip = [a_photo.species.common_name, a_photo.location.name, a_photo.location.county.state.abbreviation, short_nice_date(a_photo.trip.date)].join(", ") %>
					<% lightbox_caption = [a_photo.species.common_name, a_photo.location.name, a_photo.location.county.state.abbreviation, short_nice_date(a_photo.trip.date), link_to("[permalink]", photo_url(a_photo))].join(", ") %>
					<div class="photo"><%= link_to a_photo.thumb, a_photo.photo_URL, :id => a_photo.id, :title => tooltip %></div>
				<% } %>
			</div>      
			<div><i>photos by Bill Walker, click thumbnails to enlarge</i></div>
		</div>
	</div>

<script language="JavaScript">

$(document).ready(function(){   
	$('#thumbnailcollection a').lightBox();
});

</script>

<% end %>
