<% gallery_photos = gallery.sort{ |a,b| b.trip.date <=> a.trip.date} %>    
<% gallery_photos = gallery_photos.first(Photo.default_gallery_size())%>

<div id="myCarousel" class="carousel slide">
	<!-- Carousel items -->
	<div class="carousel-inner">

			<% gallery_photos.each { | a_photo | %>
				<% lightbox_caption = [
					a_photo.species.common_name,
					a_photo.location.name,
					a_photo.location.county.state.abbreviation,
					short_nice_date(a_photo.trip.date)].join(", ") %>
				<div class="<%= gallery_photos.fetch(0) == a_photo ? 'active': '' %> item">
					<center><%= a_photo.photo %></center>

	                <div >
	                	<center><p><%= lightbox_caption %></p></center>
	                </div>
				</div>
			<% } %>

	</div>

	<% if gallery_photos.count == 0 %>
		<div style="background-color: #efefef; padding: 20px 20px 60px 10px">no photos</div>
	<% end %>
	
	<% if gallery_photos.count > 1 %>
		<!-- Carousel nav -->
		<a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
		<a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
	<% end %>
</div>

