<% gallery_photos = gallery %>

<div id="thumbnailcollection">
	<div class="pagecontentmodule">
		<div class="pagecontentitem" id="thumbnail_list"> 
			<% gallery_photos.each { | a_photo | %>
				<div class="photo"><%= link_to a_photo.thumb, a_photo.photo_URL %></div>
			<% } %>
		</div>
	</div>
</div>

<script language="JavaScript">

$(document).ready(function(){   
	$('#thumbnailcollection a').lightBox(); // Select all links in object with gallery ID}
});

</script>