<% photo_list = thumbnail_list %>

<div class="pagecontentmodule">
	<% if (@photos_module_title != nil && @photos_module_title != "") then %>
		<div class="moduletitle">
			<%= @photos_module_title %>   
		</div>
	<% end %>

	<div class="pagecontentitem" id="thumbnail_list">
		<%= render :partial => 'photos/thumbnail', :collection => photo_list %>
	</div>
</div>
