<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle">
			Recent Photos by Bill Walker
		</div>
	</div>

	<div id="pagecontent"> 
		<%= render :partial => 'photos/gallery', :object => @recent_gallery_photos %>
		
		<div style="padding-top: 20px; padding-bottom: 50px">
			All photos are copyright William F. Walker<br/>For licensing information please contact wfwalkerphoto@gmail.com
		</div>				

	</div>        
</div>

