<div class='container'>
  <h1>Countries</h1>

  <table>
    <tr>
      <th>Name</th>
      <th>Reference url</th>
      <th></th>
    </tr>

  <% @countries.each do |country| %>
    <tr>
      <td><%= country.name %></td>
      <td><%= country.reference_url %></td>
      <td><%= link_to 'Show', country %></td>
    </tr>
  <% end %>
  </table>
</div>