<div class="pagecontentmodule">
	<div class="moduletitle">The BirdWalker 2011 Wall Calendar</div>
	<div class="pagecontentitem">       
		<img src="/images/calendar2011.jpg" align="right"/>
		
		<p>
			The BirdWalker 2011 Wall Calendar is available now at 
			<%= link_to "my Cafepress store", "http://www.cafepress.com/wfwalkerphoto" %>.
		</p>
		
		<br clear="all" />
	</div>     
</div>
