<div class="pagecontentmodule">
	<div class="moduletitle">The BirdWalker 2012 Wall Calendar</div>
	<div class="pagecontentitem">       
		<a href="http://www.cafepress.com/wfwalkerphoto"><img src="/images/calendar2012.jpg" align="left"/></a>
		
		<p>
			The BirdWalker 2012 Wall Calendar is available now at 
			<%= link_to "my Cafepress store", "http://www.cafepress.com/wfwalkerphoto" %>.
			It's a great gift for any bird lover or fan of the light and colors of the western United States.
		</p>
		
		<br clear="all" />
	</div>     
</div>
