<div class="pagecontentmodule">
	<div class="moduletitle">The 2011 Wall Calendar</div>
	<div class="pagecontentitem">       
		<img src="/images/calendar2011.jpg" align="right"/>
		
		<p>
			I am assembling my 2011 wall calendar now, including some of my Alaska and Arizona photos, it will be available soon at 
			<%= link_to "my Cafepress store", "http://www.cafepress.com/wfwalkerphoto" %>.
		</p>
		
		<br clear="all" />
	</div>     
</div>
