<div class="pagecontentmodule">
	<div class="moduletitle">Costa Rica 2012 Book</div>
	<div class="pagecontentitem">       
		<a href="http://www.blurb.com/my/book/detail/3719961"><img src="/images/costa-rica-book-cover.jpg" align="right"/></a>
		
		<p>
			My book of photos from Costa Rica is available now at 
			<%= link_to "my Blurb bookstore", "http://www.blurb.com/my/book/detail/3719961" %>.
			This book presents an overview of an intensive birding trip to Costa Rica.  The 100+ photos are a great introduction to Costa Rica's birds and ecological zones, showcasing shorebirds on the western coast, the quetzals of the Talamanca Higlands, tropical diversity at La Selva, and a sampler of hummingbirds in the Central Volcanic mountain range.
		</p>
		
		<br clear="all" />
	</div>     
</div>
