<div class="pagecontentmodule">
	<div class="moduletitle">Birding near me</div>
	<div class="pagecontentitem"> 
		<form id="milesForm"> 
			Find birding sites within <input id="milesField" type="text" name="radius" size="4" value="10"/> milesof this computer
			<input type="submit" value="Go" />
		</form>

		<div id="results">
		</div>

		<script language="JavaScript">  
			miles_radius = 5;
	
			function find_nearby_locations(position) {  
			  	$("input#lat").val(position.coords.latitude)
			  	$("input#lat").val(position.coords.longitude)

				$("div#results").empty()
				$("div#results").append("<div>you are at " + position.coords.latitude + ", " + position.coords.longitude + "</div>")
	                                               			
				$.ajax({
					url: "http://localhost:3000/locations/locations_near?lat=" + position.coords.latitude + "&long=" + position.coords.longitude + "&miles=" + miles_radius,
					error: function() { alert("error "); },               

					success: function(results) {      
						$("div#results").append("<div>found " + results.length + " locations</div>")
						for each (var location in results) {
							$("div#results").append("<div><a href=\"/locations/" + location.id + "\">" + location.name + "</a></div>"); 
						}
					},
				 });
			}

			$(document).ready(function(){  
				$('#milesForm').submit(function() { 
					miles_radius = $("#milesField").val()					
					console.log("getting location with radius " + miles_radius)  
					$("div#results").empty()
					$("div#results").append("<div>working</div>")
					navigator.geolocation.getCurrentPosition(find_nearby_locations);
					return false;
				});
			});

		</script>
                                               
	</div>
</div>