<div id="pagebody">
	<div id="pageheader">
		<div id="pagetitle">BirdWalker 3</div>
	</div>
	<div id="pagecontent">
		<p>Hi this is the index page.</p>
		<ul>
			<li>search?</li>
		</ul>
	</div>
</div>