<html>
<head>   
	<%= render :partial => 'flipper' %>	
</head>

<body onLoad="javascript:flipper()" >

	<div id="contentright">

	<img src="http://wfwalkerphoto.com/wfwalkerphoto.jpg" width="600" height="80" align="center" alt="William F Walker wildlife photography"/><br clear="all"/>

	<table class="gallerytext">
	<tr>
	<td><img id="image1" src="http://wfwalkerphoto.com/bigsquares/ribgul-IMG_6683.jpg" width="100" height="100"/></td>
	<td><img id="image2" src="http://wfwalkerphoto.com/bigsquares/sander-IMG_8667.jpg" width="100" height="100"/></td>
	<td><img id="image3" src="http://wfwalkerphoto.com/bigsquares/triher-CRW_7511.jpg" width="100" height="100"/></td>
	</tr>
	</table>

</body>
</html>