<div id="pagetitle">birdwalker.com Mozilla App</div>

This is a version of birdwalker.com packaged as a <a href="https://apps.mozillalabs.com/">Mozilla App</a>
<div>You can manage your apps at <a href="https://myapps.mozillalabs.com/">myapps.mozillalabs.com</a></div>

<div><img src="/images/birdwalker-logo-128.png" width="128" height="128" /></div>

<div id="installResults">
</div>
<form id="installForm">
	<input id="installButton" type="button" value="Install" />
</form>


<script type="text/javascript">
<!--
function amInstalledCallback(inApplicationObject) {
	if (inApplicationObject != null) {
		$('#installResults').html(inApplicationObject.manifest.name + " is already installed")
		$('#installButton').attr('disabled', 'disabled')
		console.log("is already installed")
	}
	else
	{
		console.log("not already installed")
		$('#installResults').html("BirdWalker is not already installed")
		$('#installButton').removeAttr('disabled')
	}
}

function amInstalledErrorCallback() {
	console.log("amInstalledErrorCallback")
	$('#installResults').html("Unable to verify whether birdwalker.com is already installed")
}

function onsuccess_installed() {
	console.log("onsuccess_installed")
	$('#installResults').html("Installed birdwalker.com")
	$('#installButton').attr('disabled', 'disabled')
}

function onerror_installed(errorObject) {
	console.log("onerror_installed")
	$('#installResults').html("Unable to install birdwalker.com " + errorObject.code)
}

$(document).ready(function(){  
	console.log("ready")
	pendingGetSelf = navigator.mozApps.getSelf();
	pendingGetSelf.onsuccess = amInstalledCallback;
	pendingGetSelf.onerror = amInstalledErrorCallback;
	
	$('#installButton').click(function() { 
		console.log("click start")
		var pendingInstall = navigator.mozApps.install("http://<%= request.host %>:<%= request.port %>/webapp.manifest");
		pendingInstall.onsuccess = function() {
			var appRecord = this.result;
			console.log("success!");
		}
		pendingInstall.onerror = function() {
			console.log("install failed, " + this.error.name);
		}
		console.log("click stop")
	})
})
-->
</script>
