<div class="lead">
	<div class="date">
		<%= '%02d' % @post.date.day %>
		<small><%= @post.date.strftime('%b%y') %></small>
	</div>
	<%=h @post.title %>
</div>                    

<p>
	<%= @post.content %>
</p>

