body
{
	text-rendering: optimizeLegibility;
	-moz-hyphens: auto;
	hyphens: auto;
}

#map img { 
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
} 

.tablecell
{
	width: 30px; padding-right: 5px; text-align: center;
}

.coloredtablecell
{
	width: 30px; padding-right: 5px; background-color: #DDDDDD; text-align: center;
}           

.tabledivider
{
	border-top: solid 1px #BBBBBB;
}

.moduletitle
{
	border-bottom: solid 1px #555555;
	margin-top: 10px; margin-bottom: 10px
}

.modulesubtitle
{
	margin-top: 7px; margin-bottom: 7px
}

.modulesubtitle a { text-decoration: none; }
.modulesubtitle a:hover { text-decoration: underline; }

#notice
{
	position: absolute;
	background-color: #AAFFAA;
	z-index: 3;
	left: 50%; top: 10px;
	padding: 5px;
	border: solid 1px green;
}       

#error
{
	position: absolute;
	background-color: #FFAAAA;
	z-index: 3;
	left: 10%; top: 80px;
	padding: 5px;
	border: solid 1px red;
}

#errorExplanation
{
	position: absolute;
	background-color: #FFAAAA;
	z-index: 3;
	left: 50%; top: 10px;
	padding: 5px;
	border: solid 1px red;
}
     
.pagecontentmodule .photo
{
	text-align: center; display: inline;
}

#pagetitle
{
	margin-top: 10px;
	margin-bottom: 20px;
}

.pagecontentmodule
{
	margin-top: 10px;
	margin-bottom: 20px;
}

.pagecontentitem
{
	margin-bottom: 1px;
}

.pagecontentitem .notes
{
	margin-bottom: 3px; margin-top: 2px; margin-right: 10px;
}

#thumbnailcollection
{
	margin-left: auto; 
	margin-right: auto;
	width: 930px;
	padding-bottom: 5px;  
}

/* https://groups.google.com/forum/?fromgroups=#!topic/twitter-bootstrap/TaBX0y2htEI */
.carousel .carousel-control {
	display: none;
}
.carousel:hover .carousel-control {
	display: inherit;
}


/* BILL's PROOF OF CONCEPT D3 BAR GRAPH */

.bargraph-bar {
	fill: #2a9fd6;
}

.bargraph-axis-text {
	fill: #888;
}

.bargraph-y-axis path,
.bargraph-y-axis line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}		

.bargraph-x-axis path {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.bargraph-x-axis line {
  fill: none;
  stroke: #888;
  shape-rendering: crispEdges;
}		

text {
	fill: #888;
	font-family: "Droid Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.bargraph-svg-container {
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 10%;
	vertical-align: middle;
	overflow: hidden;
}




/* ---------- format dates like pages from a daily tearoff calendar ---------- */
/* courtesy of http://www.mattvarone.com/web-design/daily-calendar-dates-with-css/ */

.date {
    float:left;
    display:block;
    font-size:24px;
    text-align:center;
    line-height: 8px;
    width:32px;
    height:100px;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-transform: uppercase;
    color: white;
}

.date small {
    line-height:20px;
    padding-top: 0px;
    font-size: 7pt;
    color: white;
}
