body
{
	text-rendering: optimizeLegibility;
	-moz-hyphens: auto;
	hyphens: auto;
}

a       { color: #2D6C91; text-decoration: none; }
.pagecontentitem p a { text-decoration: underline; }
a:hover { text-decoration: underline; }

#map img { 
  max-width: none;
}

#map label { 
  width: auto; display:inline; 
} 

.tablecell
{
	width: 30px; padding-right: 5px; text-align: center;
}

.coloredtablecell
{
	width: 30px; padding-right: 5px; background-color: #DDDDDD; text-align: center;
}           

.tabledivider
{
	border-top: solid 1px #BBBBBB;
}

.moduletitle
{
	border-bottom: solid 1px #CCCCCC;
	margin-top: 10px; margin-bottom: 10px
}

.modulesubtitle
{
	margin-top: 7px; margin-bottom: 7px
}

.modulesubtitle a { text-decoration: none; }
.modulesubtitle a:hover { text-decoration: underline; }

#notice
{
	position: absolute;
	background-color: #AAFFAA;
	z-index: 3;
	left: 50%; top: 10px;
	padding: 5px;
	border: solid 1px green;
}       

#error
{
	position: absolute;
	background-color: #FFAAAA;
	z-index: 3;
	left: 10%; top: 80px;
	padding: 5px;
	border: solid 1px red;
}

#errorExplanation
{
	position: absolute;
	background-color: #FFAAAA;
	z-index: 3;
	left: 50%; top: 10px;
	padding: 5px;
	border: solid 1px red;
}
     
.pagecontentmodule .photo
{
	text-align: center; display: inline;
}

#pagetitle
{
	margin-top: 10px;
	margin-bottom: 20px;
}

.pagecontentmodule
{
	margin-top: 10px;
	margin-bottom: 20px;
}

.pagecontentitem
{
	margin-bottom: 1px;
}

.pagecontentitem .notes
{
	margin-bottom: 3px; margin-top: 2px; margin-right: 10px;
}

#thumbnailcollection
{
	margin-left: auto; 
	margin-right: auto;
	width: 930px;
	padding-bottom: 5px;  
}


/* ---------- format dates like pages from a daily tearoff calendar ---------- */
/* courtesy of http://www.mattvarone.com/web-design/daily-calendar-dates-with-css/ */

.date {
    float:left;
    display:block;
    font-size:24px;
    text-align:center;
    line-height: 8px;
    width:32px;
    height:100px;
    color: #333333;
    margin-right: 5px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-transform: uppercase;
}

.date small {
    line-height:20px;
    padding-top: 0px;
    font-size: 7pt;
    color: gray;
}
