<% location = page_header %>

<h3>
	<%= @page_title %>

	in <%= link_to location.county.name + " County", county_url(location.county) %>,
	<%= link_to location.county.state.name, state_url(location.county.state) %>
	<% has_reference_url?(location) do %>
		(<a href="<%= location.reference_url %>">location website</a>)
	<% end %>
</h3>                    
