<% location_list = undivided_list %>

<div class="pagecontentmodule">
	<% if (show_headings) %>
		<h4><%= location_list.size %> Location<%= location_list.size > 1? 's' : '' %></h4>
	<% end %>
	
	<%= render :partial => 'locations/onelinelink' , :collection => location_list, :locals => { :show_extras => show_headings } %>
</div>