<% location_list = undivided_list %>

<div class="pagecontentmodule">
	<div class="moduletitle"><%= location_list.size %> Locations</div>
	<%= render :partial => 'locations/onelinelink' , :collection => location_list %>
</div>