<% if (@location.trips.size > 1) then %>
	<div class="pageheaderitem">
		<%= link_to 'normal view', :id => @location, :action => 'show' %> |
		<%= link_to 'by year view', :id => @location, :action => 'show_species_by_year' %> |
		<%= link_to 'by month view', :id => @location, :action => 'show_species_by_month' %>
	</div>
<% end %>