<div class='container'>
	<h3><%= @page_title %></h3>

	<%= form_for @location, :url => location_path(@location), :html => { :role => 'form', :class => 'form' } do |form| %>
	  <%= render :partial => 'form' %>
	  <%= submit_tag 'Save', :class => 'btn btn-primary' %>
	<% end %>
</div>