<% @page_title = "Locations" %>

<div id="pagebody">
	<div id="pageheader-location">
		<div id="pagetitle"><%= @page_title %></div>
		<div class="pageheaderitem"><%= link_to 'New', new_location_url %></div>
	</div>
	
	<div id="pagecontent">
		<%= show_location_list(@locations) %>
		
		<%= render :partial => 'locations/google', :object => Location.with_lat_long(@locations) %>
	</div>
</div>