<div class="lead"><%= @page_title %></div>

<div class="pagecontentmodule">
	<div class="pagecontentitem">
		<%= form_for @location, :html => { :class => 'form-horizontal' }  do |form| %>
		  <%= render :partial => 'form' %>
		  <%= submit_tag "Create" %>
		<% end %>
	</div>
</div>