<div class='container'>
	<%= render :partial => 'page_header', :object => @location %>
	                        
	<div class="pagecontentmodule">                        
		<h4>
			<%= @location.taxons.size %> Species
		</h4>
	</div>

	<%= render :partial => 'sightings/species_by_month_table', :object => @map, :locals => { :totals => @totals }%>
</div>