<% @page_title = @location.name %>

<div id="pagebody">
	<%= render :partial => 'page_header', :object => @location %>

	<div id="pagecontent">
		<div class="pagecontentmodule">
			<div class="moduletitle">
				<%= @location.species.size %> Species
			</div>
			<%= render :partial => 'sightings/species_by_month_table', :object => @map, :locals => { :totals => @totals }%>
		</div>
	</div>
</div>
