<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<%= stylesheet_link_tag 'stylesheet'%>
		<link rel="alternate" type="application/rss+xml" title="RSS" href="<%= url_for :path_only => false, :controller => 'bird_walker', :action => 'index_rss' %>" />

		<%= javascript_include_tag :defaults %>
		
        <title>birdWalker | <%= @page_title %></title>

		<script type="text/javascript">
		var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
		document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
		</script>
		<script type="text/javascript">
		var pageTracker = _gat._getTracker("UA-717974-1");
		pageTracker._initData();
		pageTracker._trackPageview();
		</script>
    </head>
    <body>
        <div id="menu">
			<div class="homemenuitem">
				<%= link_to "<p><b>birdWalker</b></p>birding field notes and photographs from Bill Walker and Mary Wisnewski", '/bird_walker/index' %>
			</div>
			<div class="homemenuitem">
				<%= link_to "about this site", '/bird_walker/about' %>
			</div>
			<div class="homemenuitem">
				<form action="/bird_walker/search" method="post">
					<% if (@terms == nil) then @terms = "search" end %>
					<input size="10" onclick="select()" type="text" name="terms" value="<%= @terms %>"></input>
					<input type="submit" value="Go"></input>
				</form>
			</div>
			<div class="<%= @controller.page_kind == 'locations' ? 'locationmenuitem' : 'menuitem' %>">
				<%= link_to "locations", locations_url %>
			</div>
			<div class="<%= @controller.page_kind == 'counties' ? 'locationmenuitem' : 'menuitem' %>">
				<%= link_to "counties", counties_url %>
			</div>
			<div class="<%= @controller.page_kind == 'states' ? 'locationmenuitem' : 'menuitem' %>">
				<%= link_to "states", states_url %>
			</div>
			<div class="<%= @controller.page_kind == 'species' ? 'speciesmenuitem' : 'menuitem' %>">
				<%= link_to "species", species_url %>
			</div>
			<div class="<%= @controller.page_kind == 'families' ? 'speciesmenuitem' : 'menuitem' %>">
				<%= link_to "families", families_url %>
			</div>
			<div class="<%= @controller.page_kind == 'trips' ? 'tripmenuitem' : 'menuitem' %>">
				<%= link_to "trips", trips_url %>
			</div>
			
			<% if (session[:username] != nil) then %>
				<div class="menuitem">
					logged in as  <%= session[:username] %>
				</div>
				<div class="menuitem">
					<%= link_to 'logout', :controller => 'bird_walker', :action => 'logout'%>
				</div>
			<% else %>
				<div class="menuitem">
					<%= link_to 'login', :controller => 'bird_walker', :action => 'login'%>
				</div>
			<% end %>
		</div>
		
		<% if params[:action] != 'index' %>
			<div id="browse">
				<%= link_to "prev", @previous_url %>
				<%= link_to "next", @next_url %>
			</div>
		<% end %>
		
		<% if flash[:notice] %>
			<div id="notice"><%= flash[:notice] %></div>
		<% end %>

        <%= yield %>
     </body>
</html>