<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<meta name="viewport" content="width=320; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;"/>
		<%= stylesheet_link_tag 'iphone_stylesheet'%>
        <title>IPHONE birdWalker | <%= @page_title %></title>
    </head>
    <body>
        <div id="menu">
			<div class="menuitem">
				<%= link_to "home", "/bird_walker" %>
			</div>
			<div class="<%= @controller.page_kind == 'locations' ? 'locationmenuitem' : 'menuitem' %>">
				<%= link_to "locations", locations_url %>
			</div>
			<div class="<%= @controller.page_kind == 'species' ? 'speciesmenuitem' : 'menuitem' %>">
				<%= link_to "species", species_url %>
			</div>
			<div class="<%= @controller.page_kind == 'trips' ? 'tripmenuitem' : 'menuitem' %>">
				<%= link_to "trips", trips_url %>
			</div>
 
			<% if (session[:username] != nil) then %>
				<div class="menuitem">
					<%= link_to 'logout', :controller => 'bird_walker', :action => 'logout'%>
				</div>
			<% else %>
				<div class="menuitem">
					<%= link_to 'login', :controller => 'bird_walker', :action => 'login'%>
				</div>
			<% end %>
   		</div>

		<% if flash[:notice] %>
			<div id="notice"><%= flash[:notice] %></div>
		<% end %>         
		
		<% if flash[:error] %>
			<div id="error"><%= flash[:error] %></div>
		<% end %>

        <%= yield %>
     </body>
</html>