<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<%= stylesheet_link_tag 'stylesheet'%>
		<link rel="alternate" type="application/rss+xml" title="RSS" href="<%= url_for :path_only => false, :controller => 'bird_walker', :action => 'index_rss' %>" />

		<%= javascript_include_tag :defaults %>
		
        <title>birdWalker | <%= @page_title %></title>
                 
		<% if ! is_laptop %>
			<script type="text/javascript">
			var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
			document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
			</script>
			<script type="text/javascript">
			var pageTracker = _gat._getTracker("UA-717974-1");
			pageTracker._initData();
			pageTracker._trackPageview();
			</script>        
		<% end %>
    </head>
    <body onload="google_initialize()">
	    <div id="banner">
			<div id="sitetitle"><%= link_to "birdWalker", '/bird_walker' %> : birding field notes and photographs by Bill Walker and Mary Wisnewski</div>
	    </div>

		<div id="searchbox">
			<form action="/bird_walker/search" method="post">
				<div class="homemenuitem">
					<% if (@terms == nil) then @terms = "search" end %>
					<input size="10" onclick="select()" type="text" name="terms" value="<%= @terms %>"></input>
					<input type="submit" value="Go"></input>
				</div>
			</form> 
        </div>

        <div id="menu">  
			<ul>                                 
				<li id="<%= @controller.page_kind == 'main' ? 'current' : '' %>">
					<%= link_to "home", '/bird_walker' %>
				</li>
				<li id="<%= @controller.page_kind == 'about' ? 'current' : '' %>">
					<%= link_to "about", '/bird_walker/about' %>
				</li>
				<li id="<%= @controller.page_kind == 'locations' ? 'current' : '' %>">
					<%= link_to "locations", locations_url %>
				</li>
				<li id="<%= @controller.page_kind == 'counties' ? 'current' : '' %>">
					<%= link_to "counties", counties_url %>
				</li>
				<li id="<%= @controller.page_kind == 'states' ? 'current' : '' %>">
					<%= link_to "states", states_url %>
				</li>
				<li id="<%= @controller.page_kind == 'species' ? 'current' : '' %>">
					<%= link_to "species", species_url %>
				</li>
<!-- 
      			<li id="<%= @controller.page_kind == 'families' ? 'current' : '' %>">
					<%= link_to "families", families_url %>
				</li>
-->				
				<li id="<%= @controller.page_kind == 'trips' ? 'current' : '' %>">
					<%= link_to "trips", trips_url %>
				</li>
				<li id="<%= @controller.page_kind == 'photos' ? 'current' : '' %>">
					<%= link_to "photos", photos_url %>
				</li>

				<% if (session[:username] != nil) then %>
					<li class="menuitem">
						<%= link_to 'logout', :controller => 'bird_walker', :action => 'logout'%>
					</li>
				<% else %>
					<li class="menuitem">
						<%= link_to 'login', :controller => 'bird_walker', :action => 'login'%>
					</li>
				<% end %>      
			</ul>
		</div>
		
		<% if flash[:notice] %>
			<div id="notice"><%= flash[:notice] %></div>
		<% end %>         
		
		<% if flash[:error] %>
			<div id="error"><%= flash[:error] %></div>
		<% end %>

        <%= yield %>
     </body>
</html>