<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
		<link rel="stylesheet" href="/stylesheets/stylesheet.css" type="text/css" media="screen" />
        <title>birdWalker | <%= @page_title %></title>
    </head>
    <body>
        <div id="menu">
			<img src="http://www.spflrc.org/~walker/images/topleft1.jpg" width="100" />
			<div class="<%= @controller.isLocation ? 'locationmenuitem' : 'menuitem' %>">
				<%= link_to "locations", :controller => 'location', :action => '' %>
			</div>
			<div class="<%= @controller.isSpecies ? 'speciesmenuitem' : 'menuitem' %>">
				<%= link_to "locations", :controller => 'species', :action => '' %>
			</div>
			<div class="<%= @controller.isTrip ? 'tripmenuitem' : 'menuitem' %>">
				<%= link_to "trips", :controller => 'trip', :action => 'list' %>
			</div>
		</div>

        <%= yield %>
     </body>
</html>