<div id="spinner" ng-show='loading'>
    <!-- Loading animation container -->
    <div class="loading">
        <!-- We make this div spin -->
        <div class="spinner">
            <!-- Mask of the quarter of circle -->
            <div class="mask">
                <!-- Inner masked circle -->
                <div class="maskedCircle"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="lead">{{location.name}} in {{location.county.name}} County, {{location.county.state.abbreviation}}</div>

    <div class="row">

        <div class='span4'>
            <div class='moduletitle'>Location Photos</div>

            <div ng-show='location.photos.length==0'>No Photos</div>

            <div ng-show='location.photos.length>0' id="locationCarousel" class="carousel slide">
                <!-- Carousel items -->
                <div class="carousel-inner">
                    <div ng-repeat='a_photo in location.photos' class="item" ng-class="{active : $first}">
                        <center><img src="{{a_photo.photo_URL}}" /></center>

                        <div >
                            <center><p>{{a_photo.taxon.common_name}}, {{a_photo.trip.date|date:'MMM dd, yyyy'}}</p></center>
                        </div>
                    </div>
                </div>

                <!-- Carousel nav -->
                <a ng-show='location.photos.length > 1' class="carousel-control left" href="#locationCarousel" data-slide="prev">&lsaquo;</a>
                <a ng-show='location.photos.length > 1' class="carousel-control right" href="#locationCarousel" data-slide="next">&rsaquo;</a>
            </div>
        </div>

        <div class='span4'>
            <div class='moduletitle'>Location Notes</div>

            {{location.notes}}
        </div>        

        <div class='span4'>
            <div class='moduletitle'>Location Map</div>

            <div ng-show='!location.latitude'>No Map</div>
            <img ng-show='location.latitude' src="http://maps.googleapis.com/maps/api/staticmap?center={{location.latitude}},{{location.longitude}}&zoom=13&size=400x400&sensor=false" />
        </div>
    </div>

    <div class='row'>
        <div class='span12'>
            <div class='moduletitle'>{{location.taxons.length}} Species</div>

<!--
             <div>
                Search: <input ng-model="query">
                Sort by:
                <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
                </select>
         
            </div>
 -->
            <div ng-repeat="taxon in location.taxons | filter:query | orderBy:date">
                <a href="#/taxons/{{taxon.id}}">{{taxon.common_name}}</a>
            </div>
        </div>
    </div>
</div>