<div id="spinner" ng-show='loading'>
    <!-- Loading animation container -->
    <div class="loading">
        <!-- We make this div spin -->
        <div class="spinner">
            <!-- Mask of the quarter of circle -->
            <div class="mask">
                <!-- Inner masked circle -->
                <div class="maskedCircle"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="lead">{{location.name}}</div>

    <div class="row">

        <div class="span12">
            <div class='moduletitle'>Location Name</div>
            <form class='form-horizontal' ng-submit="submit()" ng-controller="LocationDetailCtrl">
                <div class="control-group">
                    <label class="control-label" for="location_name">Name</label>
                    <div class="controls">
                        <input type='text' ng-model='location.name' size='90' />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="location_reference_url">Reference URL</label>
                    <div class="controls">
                        <input type='text' ng-model='location.reference_url' size='90' />
                    </div>
                </div>

                <div class='control-group'>
                    <label class="control-label" for="location_notes">Notes</label>
                    <div class="controls">
                        <textarea type='text' ng-model='location.notes' rows='20'> </textarea>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="location_latitude">Latitude</label>
                    <div class="controls">
                        <input type='text' ng-model='location.latitude' size='90' />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="location_longitude">Longitude</label>
                    <div class="controls">
                        <input type='text' ng-model='location.longitude' size='90' />
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label" for="location_county">County</label>
                    <div class="controls">
                        <select ng-model="location.county_id" ng-options="county.id as county.name for county in allCounties">
                        </select>               
                    </div>
                </div>


                 <input type="submit" id="submit" value="Submit" />
             </form>
        </div>
    </div>
</div>

