
<div class="container">
    <div class="lead">{{taxon.common_name}}</div>

    <div class="row">

        <div class="span10">
            <div class='moduletitle'>{{taxon.locations.length}} Locations</div>

<!--             <div>
                Search: <input ng-model="query">
                Sort by:
                <select ng-model="orderProp">
                <option value="name">Alphabetical</option>
                <option value="age">Newest</option>
                </select>
         
            </div>
 -->
            <div ng-repeat="location in taxon.locations | filter:query | orderBy:date">
                <a href="#/locations/{{location.id}}">{{location.name}}</a>
            </div>
     
        </div>
    </div>
</div>