<div id="spinner" ng-show='loading'>
    <!-- Loading animation container -->
    <div class="loading">
        <!-- We make this div spin -->
        <div class="spinner">
            <!-- Mask of the quarter of circle -->
            <div class="mask">
                <!-- Inner masked circle -->
                <div class="maskedCircle"></div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="lead">Species</div>

    <div class="row">

        <div class="col-md-10">

            <div>
                Search: <input ng-model="query">
                Sort by:
                <select ng-model="orderProp">
                <option value="common_name">Alphabetical</option>
                <option value="sort">Taxonomy</option>
                </select>
            </div>

            <div ng-repeat="taxon in taxons | filter:query | orderBy:orderProp">
                <a href="#/taxons/{{taxon.id}}">{{taxon.common_name}}</a>
            </div>
        </div>
    </div>
</div>